:root{

    --color-white: #ffffff;
    --color-light-grey: #757474;
    --color-dark-grey: #2f2f2f;
    --color-black: #111111;
  --color-theme: #f3f7f9;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    overflow: none;
    /* opacity: 98%; */
}

header{
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
   height: 12vh;
   
   align-items: center;
   font-size: 20px;
   /* top: 0;
   position:sticky ; */

   
}
.header-img{
    height:12vh;
}
.header-img img{
    height: 80%;
    margin: 10%;
}
.header-heading{
    margin-left: 1%; ;
}
.header-profile-img{
    height: 12vh;
    /* border: 1px solid black;
    border-radius: 50%; */
}
.header-profile-img img{
    height: 90%;
    width: 50%;
    border: 2px solid white;
    border-radius: 50%;
    margin: 2%;
    /* position: absolute;
    right: 1%; */   
}

.header-middle{
    margin-left: 30%;
    /* margin-right: 10%; */
}

.header-last{
    margin-left:20%; 
    margin-right: 2%;
}

main{
    display: grid;
    grid-template-columns: 15vw 42vw 42vw;
    column-span: 1/3;
}

/* MAIN */
main aside{
   
    height: 88vh;
    background-color: var(--color-theme);
    width: 100%;
    border-right: 0.1px solid var(--color-light-grey);
    
    

}
main aside .above{
    background-color:var(--color-theme);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
   border-bottom: 1px solid var(--color-light-grey);
    
}
.above-content{
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: white;
    height: 5vh;
    padding: 2%;
    color: var(--color-light-grey);
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 5px;

    
}
.above-content input{
    border: none;
    margin-left: 3%;
    outline: none;
}

.box{
    /* background-color: #ffcece; */
    color: black;
    height: 50px;
    /* border:2px solid white; */
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: left;  padding-left: 10px;
    
}

.box1{
    border-left: 2px solid rgb(165, 4, 4);
}
.box1-display{
   
    overflow:hidden ;
    height: 54vh;
    width: 60vh;
    background-color: var(--color-white);
    position: absolute;
    z-index: 10;
    left: 15.5%;
    top: 20%;
    opacity: 100%;
    border-left: 5px solid rgb(165, 4, 4);
    box-shadow: 1px 0px 1px 1px var(--color-dark-grey);
    display: grid;
    grid-template-columns: 50% 50%;
    display: none;
     color: var(--color-light-grey);
}
 .My-profile{
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    
    
}
.My-profile ul li{
    margin-top: 5px;
    margin-bottom: 5px;
}

.My-profile ul li:hover{
    color: var(--color-black);
    font-weight: 300;
}

.Past-history{
    margin-top: 4%;
    margin-left: 20%;

    
}

.Past-history ul li{
margin-top: 5%;
margin-bottom: 5%;
}

.Past-history ul li:hover{
    color: var(--color-black);
    font-weight: 500;
}
.box1:hover{
    background-color: rgb(165, 4, 4);
    color: var(--color-theme);
}
/* BOX-2 started */
.box2{
    border-left: 2px solid rgb(214, 214, 6);
}
.box2-display{
   
    overflow:hidden ;
    height: 54vh;
    width: 60vh;
    background-color: var(--color-white);
    position: absolute;
    z-index: 10;
    left: 15.5%;
    top: 27%;
    opacity: 100%;
    border-left: 5px solid rgb(214, 214, 6);
    box-shadow: 1px 0px 1px 1px var(--color-dark-grey);
    display: grid;
    grid-template-columns: 50% 50%;
    display: none;
     color: var(--color-light-grey);
}

.My-Academics{
    margin-top: 5%;
    margin-left: 5%;
}
.My-Academics ul li{
   margin-top: 5%;
   margin-bottom: 5%;
}
.My-Academics ul li:hover{
   color: var(--color-black);
   font-weight: 500;
 }
.Examination{
margin-top: 5%;
margin-left: 10%;

}
.Examination ul li{
    margin-top: 5%;
    margin-bottom: 5%;
}
.Examination ul li:hover{
    color: var(--color-black);
    font-weight: 500;
}
.box4{
    border-left: 2px solid rgb(214, 214, 6);
}
.box2:hover{
    background-color: rgb(214, 214, 6);
    color: var(--color-theme);
}
.box3,.box5,.box6{
    border-left: 2px solid rgb(27, 38, 49);
}
.box3:hover{
    background-color: rgb(27, 38, 49);
    color: var(--color-theme);
}
.box3-display{
   
    overflow:hidden ;
    height: 24vh;
    width: 40vh;
    background-color: var(--color-white);
    position: absolute;
    z-index: 10;
    left: 15.5%;
    top: 35%;
    opacity: 100%;
    border-left: 5px solid rgb(27, 38, 49);
    box-shadow: 1px 0px 1px 1px var(--color-dark-grey);
    display: flex;
    flex-direction: row;
    display: none;
     color: var(--color-light-grey);
}
.My-fees{
    margin-left: 5%;
    margin-top: 5%;
}
.My-fees ul li{
    margin-top: 5%;
    margin-bottom: 5%;
}
.My-fees ul li:hover{
    color: var(--color-black);
    font-weight: 500;
}

.box4-display{
   
    overflow:hidden ;
    height: 14vh;
    width: 40vh;
    background-color: var(--color-white);
    position: absolute;
    z-index: 10;
    left: 15.5%;
    top: 42%;
    opacity: 100%;
    border-left: 5px solid rgb(214, 214, 6);
    box-shadow: 1px 0px 1px 1px var(--color-dark-grey);
    display: flex;
    flex-direction: row;
    display: none;
     color: var(--color-light-grey);
}
.My-Requests{
 margin-top: 5%;
 margin-left: 5%;
}
.My-Requests ul li{
    margin-top: 5%;
    margin-bottom: 5%;
}
.My-Requests ul li:hover{
    color: var(--color-black);
    font-weight: 500;
}
.box4:hover{
    background-color: rgb(214, 214, 6);
    color: var(--color-theme);
}
.box5-display{
   
    overflow:hidden ;
    height: 14vh;
    width: 40vh;
    background-color: var(--color-white);
    position: absolute;
    z-index: 10;
    left: 15.5%;
    top: 49%;
    opacity: 100%;
    border-left: 5px solid rgb(27, 38, 49);
    box-shadow: 1px 0px 1px 1px var(--color-dark-grey);
    display: flex;
    flex-direction: row;
    display: none;
     color: var(--color-light-grey);
}
.My-Services{
    margin-top: 5%;
    margin-left: 5%;
}
.My-Services ul li{
    margin-top: 5%;
    margin-bottom: 5%;
}
.My-Services ul li:hover{
   color: var(--color-black);
   font-weight: 500;
}
.box5:hover{
    background-color: rgb(27, 38, 49);
    color: var(--color-theme);
}
.box6:hover{
    background-color: rgb(27, 38, 49);
    color: var(--color-theme);
}
.box6-display{
   
    overflow:hidden ;
    height: 14vh;
    width: 40vh;
    background-color: var(--color-white);
    position: absolute;
    z-index: 10;
    left: 15.5%;
    top: 56%;
    opacity: 100%;
    border-left: 5px solid rgb(27, 38, 49);
    box-shadow: 1px 0px 1px 1px var(--color-dark-grey);
    display: flex;
    flex-direction: row;
    display: none;
     color: var(--color-light-grey);
}
.Academia-Drive{
    margin-top: 5%;
    margin-left: 5%;
}
.Academia-Drive ul li{
    margin-top: 5%;
    margin-bottom: 5%;
}
.Academia-Drive ul li:hover{
    color: var(--color-black);
    font-weight: 500;
}
.main-block1{
    grid-column: 2/4;
}

.main-nav nav ul{
    -ms-grid-column-span: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    -ms-grid-row-span: 2;
    grid-row-start: 1;
    grid-row-end: 3;
   display: flex;
   flex-direction: row;
    background-color: var(--color-white);
    border-bottom: 2px solid black;
}
 .main-nav nav ul li{
    margin: 1px 5px;
    padding: 5px;
    border-top: 4px solid var(--color-black);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 1px solid var(--color-dark-grey);
    border-right: 1px solid var(--color-dark-grey);
}
main-block1{
    background-color:var(--color-white);
    

}
.main-block2{
    background-color:var(--color-white);
}
.main-block1-content{
    background-color: var(--color-theme);
    padding: 10px;
    margin: 15px 10px;
}
.grid-system{
    display: grid;
    grid-template-columns: 50% auto;
    height: 72vh;
    
    overflow-y: scroll;
}
.btn1{
    background-color: blue;
    color: var(--color-white);
    font: bold;
    padding:  2px 5px;
    border-radius: 5px;
}
.btn2{
    color: var(--color-dark-grey);
    background-color: var(--color-theme);
    font: bold;
    font-weight: 600;
    padding:  2px 5px;
    border-radius: 5px;
}

.student-information{
    border: 0.5px solid var(--color-dark-grey);
    height: 40vh;
    width: 90%;
    margin: 5% 5%;
    border-top: 5px solid var(--color-black);
   
   
}
.student-information-header{
    height: 7vh;
    border-bottom: 2px solid var(--color-dark-grey);
    text-align: left;
    background-color: var(--color-theme);
    color: var(--color-dark-grey);
    
    
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: 20px solid rgba(255, 255, 0, 0.683);
}
.student-information-content{
    display: grid;
    position: relative;
    overflow-y: scroll;
    grid-template-columns: 50% auto;
   
    background-color:var(--color-white);
height: 83%;
width: 100%;
}

.student-information-content-profile .student-img{
    background-color:var(--color-theme);
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    
   
}
.student-information-content-profile .student-img img{
    height: 80px;
    width: 80px;
    
    padding: 2px 5px;
    border-radius: 50%; 
    text-align: center;
    justify-content: center;
  
}
.sicbox{
    background-color: var(--color-theme);
   margin: 5% 10%;
   border-radius: 10px;
   
}
.student-information-content-info{
    display: grid;
    background-color: var(--color-theme);
    grid-template-columns: auto auto;
}
.data{
    margin: 5px 10px;
}
.entries{
    margin: 5px 10px;
}
.data ul li{
    margin-bottom: 10px;
}
.entries ul li{
    margin-bottom: 10px;
} 

 .student-img{
    height:12vh;
}
.student-img img{
    height: 90%;
    margin: 50%;
} 
 .box i{
    margin-left: 10px;
} 
.box .arrow{
    display: flex;
    align-items: right;
    justify-content: center; 
}

.NotiDashHead{
    height: 5vh;
    border-bottom: 0px;
}
.NotificationDashletNav{
    display: grid;
   grid-template-columns: auto auto auto;
   border-bottom: 1px solid var(--color-light-grey);

}
.head1,.head2,.head3{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    
}
.NotiDashContainer{
   
    height: 72%;
    width: 100%;
    overflow-y: scroll;
    margin-top: 0px;
}
.NotiDashContent{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-top: 10px;
    padding-bottom: 10px;
   
   border-bottom: 1px solid var(--color-light-grey);
font-size: 12px;
}
.mid{
    color: rgb(0, 115, 255);
    margin-left: 20px;
    text-align: left;
}
.left{
    margin-left: 10px;
}
.right{
    text-align: right;
}
/* .NotiDashCont{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    
} */

.Calendar{
    border-bottom: 0px;
    height: 5vh;
}
.tableContainer{
    height: 85%;
    overflow-y: scroll;
}
.datePanel {
    /* background-color: aqua; */
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
   
}
.datePanel i{
margin-left: 20px;
text-align: center;
margin-right: 10px;
}
table{
    width: 100%;
    border-bottom: 5px solid rgba(109, 198, 250, 0.84);
    border-spacing: 0;
}
table th{
/* margin: 20px 10px; */
border-right: 1px solid var(--color-light-grey);
margin: 0px;
padding: 20px 10px;
/* background-color: aquamarine; */
font-size: 12px;
}

table tr td{
    margin: 0;
    padding: 20px 10px;
    border: 1px solid var(--color-light-grey);
}

.l{
    width: 10%; background-color: rgba(186, 229, 254, 0.84);
    font-size: 10px;
}
.PIhead{
    height: 7vh;
}
.Pname{
    margin: 0;
    height: 5vh;
    background-color: rgba(255, 255, 0, 0.683);
    margin-bottom: 10px; 
}
.Pname span{
    border: 2px solid black;
    margin-left: 20px;
    padding: 5px;
    border-radius: 5px;  
   padding-right: 10%;
    margin-top: 0;
    background-color: var(--color-white);
    outline: rgb(0, 145, 255) solid 2px;
    width: 50%;
}
.InformationInfoContent{
    height: 65%;
    background-color:var(--color-white);
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
.Info-img{
    background-color:var(--color-white);

}
.img{
    color:var(--color-dark-grey);
   margin-top: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
   font-size: 100px;
    
}

.fields ul li{
    
    margin-bottom: 10px;
}

.vals ul li{
    margin-bottom: 10px;
    padding-left: 20px;
}
.MenuSearch{
    box-shadow: none;
}