:root{

    --color-white: #ffffff;
    --color-light-grey: #757474;
    --color-dark-grey: #2f2f2f;
    --color-black: #111111;
  --color-theme: #c9c6c6;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--color-black);
    color: var(--color-white);
    display: flex;
   height: 12vh;
   
   align-items: center;
   font-size: 20px;
}
.header-img{
    height:12vh;
}
.header-img img{
    height: 80%;
    margin: 10%;
}
.header-heading{
    margin-left: 1%; ;
}
.header-profile-img{
    height: 12vh;
    /* border: 1px solid black;
    border-radius: 50%; */
}
.header-profile-img img{
    height: 90%;
    width: 50%;
    border: 2px solid white;
    border-radius: 50%;
    margin: 2%;
    /* position: absolute;
    right: 1%; */   
}

.header-middle{
    margin-left: 30%;
    /* margin-right: 10%; */
}

.header-last{
    margin-left:20%; 
    margin-right: 2%;
}


/* MAIN */
main aside{
   
    height: 100vh;
    background-color: var(--color-theme);
    width: 15vw;
    border-right: 0.1px solid var(--color-light-grey);

}
main aside .above{
    background-color:var(--color-theme);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
   border-bottom: 1px solid var(--color-light-grey);
    
}
.above-content{
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: white;
    height: 5vh;
    padding: 2%;
    color: var(--color-light-grey);
    border-radius: 5px;
    padding-left: 10px;
    margin-right: 5px;

    
}
.above-content input{
    border: none;
    margin-left: 3%;
}

.box{
    /* background-color: #ffcece; */
    color: var(--color-dark-grey);
    height: 50px;
    /* border:2px solid white; */
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: left;  padding-left: 10px;
}

.box1{
    border-left: 2px solid red;
}
.box1:hover{
    background-color: red;
    color: var(--color-theme);
}
.box2,.box4{
    border-left: 2px solid yellow;
}
.box2:hover{
    background-color: yellow;
    color: var(--color-theme);
}
.box3,.box5,.box6{
    border-left: 2px solid rgb(27, 38, 49);
}
.box3:hover{
    background-color: rgb(27, 38, 49);
    color: var(--color-theme);
}
.box4:hover{
    background-color: yellow;
    color: var(--color-theme);
}
.box5:hover{
    background-color: rgb(27, 38, 49);
    color: var(--color-theme);
}
.box6:hover{
    background-color: rgb(27, 38, 49);
    color: var(--color-theme);
}
/* .box i{
    margin-left: 10px;
} */
/* .box .arrow{ */
    /* display: flex;
    align-items: right;
    justify-content: center; */
    



